@use "sass:map";

@use "../functions";
@use "../variables";

:export {
  radius: 0.5rem;

  @each $key, $value in variables.$common-color-palette {
    #{functions.concat("common", functions.capitalize(functions.camelCase($key)))}: #{$value};
  }

  @each $key, $value in variables.$dark-color-palette {
    #{functions.concat("dark", functions.capitalize(functions.camelCase($key)))}: #{$value};
  }

  @each $key, $value in variables.$light-color-palette {
    #{functions.concat("light", functions.capitalize(functions.camelCase($key)))}: #{$value};
  }
}
