.hljs-meta,
.hljs-comment {
  color: #565f89
}

.hljs-tag,
.hljs-doctag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-template-tag,
.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-variable.language_,
.hljs-deletion {
  color: #f7768e
}

.hljs-variable,
.hljs-template-variable,
.hljs-number,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-link {
  color: #ff9e64
}

.hljs-built_in,
.hljs-attribute {
  color: #e0af68
}

.hljs-selector-tag {
  color: #2ac3de
}

.hljs-keyword,
.hljs-title.function_,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-subst,
.hljs-property {
  color: #7dcfff
}

.hljs-quote,
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #ce8a6a
}
.hljs-code,
.hljs-formula,
.hljs-section {
  color: #7aa2f7
}

.hljs-name,
.hljs-keyword,
.hljs-operator,
.hljs-char.escape_,
.hljs-attr {
  color: #bb9af7
}

.hljs-punctuation {
  color: #c0caf5
}

.hljs {
  background: #1a1b26;
  color: #9aa5ce
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}
