name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    uses: ./.github/workflows/reusable-release-bun.yml
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
